:root {
    --cor-de-fundo: #1F1F1F;
    --branco: #F3EFF5;
    --branco-sal: #FCFAFA;
    --verde-clarinho: #27FB6B;
    --verde-normal: #83BD4C;
    --vermelho:#FF0D29;
}
body {
    background-color: var(--cor-de-fundo);
    color: var( --branco-sal);
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--vermelho);
    padding: .1em;
    margin: .3em;
  }
  
  a {
    color: var(--verde-normal);
  }
  
  p {
    color: var( --branco-sal);
    flex: 1 0 20%;
  }
  
  li, ul {
    color: var( --branco-sal);
    line-height: 1.6;
  }
  
  code {
    background-color: #49483E;
    color: var( --branco-sal);
  }
  
  pre {
    background-color: #49483E;
    color: #F8F8F2;
  }
  
  blockquote {
    border-left: 5px solid #F92672;
    padding-left: 10px;
    color: #75715E;
  }
  
  .hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .hamburger-menu .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
  }